{% extends 'base.html.twig' %}

{% block body %}
    <h1>PugCheck</h1>

    {% include 'partials/search-form.html.twig' %}

    <h3>{{ region|upper }}</h3>
    <p>{{ serverName }}: {{ data.name }}</p>

    {{ dump(logData) }}

    {% for boss in progressionData.bosses %}
        <li>{{ boss.name }}</li>
    {% endfor %}

    {% include 'partials/footer.html.twig' %}
{% endblock %}