{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% include 'partials/search-form.html.twig' %}

        <div class="character-info">
            <p class="character-name">{{ data.name }}</p>
            <img src="{{ asset('images/') ~ classImage }}" alt="{{ characterClass }} symbol" class="class-icon {{
            characterClass }}" />
            <div class="item-level-container">
                <p class="item-level">Item Level: <span class="item-level">{{ itemLevel }}</span></p>
            </div>
        </div>

        <h3>Raid Progression</h3>
        {% if raid.highestDifficulty == 'Mythic' %}
            {% set difficulties = ['Mythic', 'Heroic'] %}
        {% elseif raid.highestDifficulty == 'Heroic' %}
            {% set difficulties = ['Heroic', 'Normal'] %}
        {% elseif raid.highestDifficulty == 'Normal' %}
            {% set difficulties = ['Normal', 'Looking For Raid'] %}
        {% else %}
            {% set difficulties = ['Looking For Raid'] %}
        {% endif %}
        {% for raid in progressionData %}
            {% set kills = raid.highestDifficulty|lower ~ 'Kills' %}
            <div class="raid-instance">
                <div class="raid-instance-title">
                    <span class="collapse fa fa-plus"></span>
                    <h5 class="instance-name">{{ raid.name }}</h5>
                    <p class="difficulty">{{ raid.highestDifficulty }}</p>
                    <p class="logs-header">Logs</p>
                </div>
                <ul class="raid-bosses hidden">
                    {% for boss in raid.bosses %}
                        <li>
                            {% if attribute(boss, kills) > 0 %}
                                <span class="killed-box fa fa-check-square-o"></span>
                            {% else %}
                                <span class="killed-box fa fa-square-o"></span>
                            {% endif %}
                            {{ boss.name }}
                            {% if boss.reportUrl %}
                                <a href="{{ boss.reportUrl }}" class="warcraftlog-report fa fa-link"></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        {{ dump(progressionData) }}
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}